{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form_row, render_form, render_field  %}
{% block page_content %}

<!-- 模态框 -->
<div class="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">记账</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <form method="post", id= 'SubmitField'>
        {{ render_form_row(form, row_class='form-group row', col_class_default="col-sm-5 col-form-label") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
        <button form="SubmitField" type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>

<div >
  <div style="height: 605px; overflow: auto;">
    <table class="table">
      <thead><tr>
        <td class="bg-danger"><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="记账">
            <button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop" style="width: 100%; height: 100%;" >
              {{ render_icon('receipt') }}
            </button>
        </span></td>
        {% for i in labels %}
        <td class="bg-primary text-white"  style="text-align:left;vertical-align:middle;">{{ i }}</td>
        {% endfor %}
      </tr></thead>
    <tbody>
      {% for i in bills %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <th scope="row">{{ i.accounting_time }}</th>
          <th scope="row">{{ i.payment_method }}</th>
          {% if i.direction == 'PAY' %}
            <th scope="row">支付</th>
          {% elif i.direction == 'INCOME' %}
            <th scope="row">收入</th>
          {% endif %}
          <th scope="row">{{ i.amount }}</th>
          <th scope="row">{{ i.category }}</th>
          <th scope="row">{{ i.remark }}</th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!--引用分页， 需要参数 SQLAlchemy() 的分页对象pagination，以及地址 url-->
{% import 'pages.html' as pg %}
{{ pg.my_paginate(pagination, 'bill.account')}}
{% endblock %}

 