{% extends "bootstrap/base.html" %}
{% block title %}记账{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="nav bg-info">
  <a class="nav-link text-white" href="{{url_for('.index')}}">主页</a>
  <a class="nav-link text-white" href="{{url_for('.write', directions='pay')}}">支出</a>
  <a class="nav-link text-white" href="{{url_for('.write', directions='income')}}">收入</a>
  <a class="nav-link text-white" href="{{url_for('.book')}}">账本</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
